<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>

<body>
	<div th:replace="base"></div>

	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>Smart Contact Manger</h1>
			<p>Start collecting your contacts in very smarter way. We provide very efficient and smarter way of handling
				contacts.</p>

			<a th:href="@{/user/user_dashbaord}" class="btn bg-primary text-white">Get Started</a>
		</div>


	</section>
</body>

</html>