<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Sign Up</title>


</head>

<body>
	<div th:replace="base"></div>
	<section>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="mycard">
					<div class="text-center"><img style="width: 10%;" th:src="@{/css/images/membership.png}" alt="" />
					</div>
					<h1 class="text-center">Sign Up Here !</h1>
					<form th:action="@{/registerUser}" method="POST" class="form-area">
						<div class="form-group">
							<label>Your Name:</label> <input name="name" class="input-field" type="text"
								placeholder="Enter Here" required>
							<label>Email:</label> <input name="email" class="input-field" type="text"
								placeholder="Enter Here" required>
							<label>Password:</label> <input name="password" class="input-field" type="password"
								placeholder="Enter Here" required>
							<label>About Yourself:</label> <textarea name="about" class="input-field" row="10"
								type="text" placeholder="Enter Somthing About Yourself Here" required></textarea>
						</div>
						<div class="text-center">
							<button id="submit-button" class=" btn btn-primary" type="submit">Sign Up</button>
							<button id="reset-button" class=" btn btn-warning" type="reset">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


</body>

</html>