<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Your Profile</title>

</head>

<body>
	<div th:include="normal/base"></div>
	<div class="content">
		<i onclick="togglesidebar()" class="fas fa-bars mt-5" style="font-size: 20px;"></i>
		
		<div class="card mr-4">
			<div class="card-body">
			
				<div class="container text-center"> <img style="width:150px; height: 150px;" class="profile_img" th:src="@{'/css/images/'+${user.imageUrl}}" alt="" /> </div>
				<div class="text-center mt-3" style="font-weight: bold;"><span th:text="${user.name}"></span></div>
				<table align="center" class="table table-bordered  mt-3" style="width: 60%;">
					
						<tr>
							<th scope="col">Id</th>
							<td> <span th:text="${user.id}"></span> </td>
							
							
						</tr>
						<tr>
							
							<th scope="col">About</th>
							<td> <span th:text="${user.about}"></span> </td>
							
						</tr>
						<tr>
							
							<th scope="col">Email</th>
							<td> <span th:text="${user.email}"></span> </td>
							
						</tr>
						<tr>
							
							<th scope="col">Role</th>
							<td> <span th:text="${user.role}"></span> </td>
						</tr>
				
				</table>
				<!--<div class="text-center">
				<h3>Description</h3>
				<span th:utext="${contact.description}"></span>
				</div>-->
				<div class="text-center"><a th:href="@{/user/user_dashbaord}" class="btn btn-danger">Back</a></div>
		
	</div>
</body>

</html>